/*
_______________________________
Desktop version layout - place your custom code here */

body {

}

ul#navigation {
    margin-top: 20px;
    margin-left: 0;
    padding-left: 0;
    white-space: nowrap;
}

ul#navigation li {
    display: inline;
    list-style-type: none;
}

ul#navigation a {
    color: #eee;
    text-decoration: none;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #eb302d;
    padding: 8px 12px;
    font-size: 1.5em;
    font-family: "Delicious", "sans-serif";
    font-weight: bold;

}

ul#navigation a:hover {
    color: #eee;
    text-decoration: none;
    background-color: #84302d;
}


/*
_______________________________
Mobile version - preset code from cssgrid.net */

@media handheld, only screen and (max-width: 767px) {

	.examplecontainer {}

	body {}

	ul#navigation li {
        display: block;
        list-style-type: none;
        margin-bottom: 16px;
    }
}



/*
_______________________________
Provide higher res assets for iPhone 4 - preset code from cssgrid.net */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

	/* An example of how to override an image with one twice the size for iPhone 4. Specify the original pixel size with background-size.
	.download {
	background: url(../img/downarrow@2x.png) no-repeat;
	background-size: 27px 28px;
	}
	*/

}
