/*
_______________________________
Desktop version layout - place your custom code here */

body {
    font-family: Verdana, sans-serif;
    font-size: 1.1em;
    background-color: #ddd;
}

h1, h2, h3 {
    font-weight: normal;
    font-family: Palatino, "Times New Roman", serif;
    color: #84302d;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.3em;
}

img {
    margin: 0em;
    padding: 0em;
}

ol {
    list-style-type: decimal;
}

code {
    font-family: "Courier", "Courier New", monospace;
}

a {
    color: #EB302D;
    text-decoration: underline;
}

a:visited {
    color: #EB302D;
    text-decoration: underline;
}

a:hover {
    color: #84302d;
    text-decoration: none;
}

.caption {
    font-style: italic;
}
